body {
  padding-top: 100px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.box {
	padding: 8px 10px;
	background: #fdfdfd;
	border: 1px solid #eeeeee;
	border-bottom: 3px solid #eee;
	border-radius: 6px;
	margin-bottom: 30px;
}

.box table {
	margin-bottom: 10px;
}

.box > h4 {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 7px;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 13px;
}

li {
	line-height: 30px;
}