<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE module SYSTEM "../module.dtd">
<module version="1.0.0">

    <dependencies>
        <dependency module="office" version="1.0.0" />
    </dependencies>
    
    <pages>
        <page
            id="matchesfs"
            template="matchesfs"
            model="MatchesFSModel"
            navitem="true"
            navweight="0"
            role="user"
            parentItem="office">

                <script file="jquery-ui-1.10.2.custom.min.js" debugonly="true"/>
                <script file="formationws4.js" debugonly="true"/>
                <script file="formation.min.js" productiononly="true"/>
                
                <script file="bootstrap-slider.js" />
                <script file="bootstrap-switch.js" />
                <script file="bootstrap-datepicker.js" />
                <script file="bootstrap-datepicker.de.js" />
                <script file="bootstrap-timepicker.min.js" />
                <script file="timestamp.js" />
                <script file="select2.min.js" />
                <script file="select2_locale_de.js" />
                <script file="set_de.js" />
                <script file="jquery.markitup.js" />               
                
                <css file="slider.css"/>
                <css file="formation.css"/>
                <css file="bootstrap-switch.css"/>       
                <css file="bootstrap-datepicker.css"/>       
                <css file="bootstrap-timepicker.min.css"/>       
        </page>
    </pages>


    <blocks>
        
        <block
            id="matchesfs-requests"
            template="matchesfs-requests"
            model="MatchesFSRequestsModel"
            includepages="none"
            area="custom"
            role="user" />
    </blocks>
    
    <actions>
        <action id="matchesfs-add-request" controller="MatchesFSAddRequestController" role="user">
            <param id="date_date" type="timestamp" required="true"  />
            <param id="date_time" type="timestamp" required="true"  />
            <param id="opponent" type="select" required="true"  />
            <param id="shootout" type="boolean" />
        </action>

        <action id="matchesfs-accept" controller="MatchesFSAcceptRequestController" role="user">
            <param id="id" type="number" required="true" />
        </action>
        
        <action id="matchesfs-reject" controller="MatchesFSRejectRequestController" role="user">
            <param id="id" type="number" required="true" />
        </action>        
    </actions>
    
</module>